<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
mumbai
<span>Hello, {{request.user}}</span>
<span><a href="{% url 'sign_up:logout' %}">Log Out</a></span>
<form method="POST" action="{% url 'sign_up:blog' %}" class="site-form">
    {% csrf_token %}
<!--    {{form.as_p}}-->
<!--    <input type="text" class="form-control" name="post" placeholder="Name">-->
    {{ form.post }}
    <button type="submit" class="btn btn-success btn-block" name="save">Submit</button>

</form>
     <h1>ALL Blogs</h1><hr>    <br />
    {% if post %}
            <b> Blog is:</b>
                        <table>
                         <tr>
                        {% for po in post %}
                        <td> BLOG = {{po.post}}</td>
                        <td> AUTHOR = {{po.author}}</td>
                         </tr>

                        {%endfor%}
                        </table>


    {%else%}
    <b>NO blogs found</b>
    {%endif%}



</body>
</html>